@import "./modules/colors";
@import "./modules/fonts";

* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

body {
  margin: 0;
  background: white;
  color: var(--black);
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  padding: 0;
  margin: 0;
}
